.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.btn-floating.small{
    width: 25px;
    height: 25px;
    line-height: 25px;
}
.btn-floating.small i {
    line-height: 25px;
    font-size: 18px;
}
.btn.small{
    height: 25px;
    line-height: 25px; 
    font-size: 12px;
}

.btn.small i {
    line-height: 25px;
}
/*----------------------------------------
    NavBar
------------------------------------------*/
nav .nav-wrapper{
	padding: 0 10px;
}

#dropdown-setting{
	min-width: 172px;
}



/*----------------------------------------
    SideBar
------------------------------------------*/
#slide-out li a i{
  margin-right: 1em;
  text-align: center;
  line-height: inherit;
  float: left;
  color: #00BCD4;

}

#slide-out li{
    border: 1pt solid #00BCD4;
    border-right-color: #FFF;
    border-left-color: #FFF;
}
}

#slide-out li a{
  font-size: 14px;
  font-weight: 400;
}


/*----------------------------------------
    breadcrumb
------------------------------------------*/



.breadcrumb {
  padding: 0px;
  margin: 15px 0px;
  list-style: none;
}
.breadcrumb::before {
  padding: 0px;
  content: initial;
  margin: 15px 0px;
  list-style: none;
}
.breadcrumbs-title {
  font-size: 1.5rem;
  line-height: 1.804rem;
  margin: 18px 0px 0px 0px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb a {
  color: #00bcd4;
}
.breadcrumb .active {
  font-weight: normal;
  color: #999;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
h5.breadcrumbs-header {
  font-size: 1.64rem;
  line-height: 1.804rem;
  margin: 1.5rem 0 0 0;
}
.breadcrumbs-nav {
  margin: 8px 0 9px 0;
}
/*----------------------------------------
    Pre Loader
------------------------------------------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1009;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  
  z-index: 1001;
}
#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  background: url(../images/user-bg.jpg) no-repeat center center;  
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(0deg);
    /* IE 9 */
    
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(360deg);
    /* IE 9 */
    
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(0deg);
    /* IE 9 */
    
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    
    -ms-transform: rotate(360deg);
    /* IE 9 */
    
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(0);
  /* IE 9 */
  
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(-100%);
  /* IE 9 */
  
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateX(100%);
  /* IE 9 */
  
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  
  -ms-transform: translateY(-100%);
  /* IE 9 */
  
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display: none;
}
.progress{
    background-color: rgba(255, 64, 129, 0.22);
}






#input-select .input-field label {
  position: absolute;
  top: -14px;
  font-size: 0.8rem;
}




/*
.popup-tambah-lokasi{
    position: absolute;
    font-size:10px;
    display : none;
    max-width: 800px;    
}
.popup-tambah-lokasi .box-tambah-lokasi{  
    background: #fff;
    padding: 10px 5px;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-top: -23px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}*/
/*.popup-tambah-lokasi .box-tambah-lokasi select{  
    width: 50%;
    margin: 5px auto;
}*/
.btn-close{
    left: 48%;     
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#images-preview{
  margin-bottom : 50px;
}
.image-item .btn-image-close i{
    font-size: 19px;
    line-height: 30px;
}
.image-item img{
    font-size: 19px;
    line-height: 30px;
}

/*.image-item .btn-image-close {
    right: 20px;
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: 12px; 
    z-index: 0;
}*/

.image-item .btn-image-close{
  position: absolute;
    height: 30px;
    line-height: 30px;
    z-index: auto;
    float: right;
    /* margin-left: 82px; */
    margin-top: -13px;
}


/**
 *
 * style untuk preview image saat menambahkan image di form tempat
 *
 */
#images-preview a img{
  max-height : 235px;
}

/**
 *
 * Button Ceck dan Batal pada Maps
 *
 */
.btn.btn-map{
    position: absolute;
    top: 20px;    
    height : 30px;
    width: 30px;
    display : none;
}
.btn.btn-map i{
  font-size : 16px;
  line-height: 30px;
}
.btn-map.check{
    right: calc(50% - 25px);
}
.btn-map.cancel{
    right: calc(50% + 25px);
}

/**
 *
 * button form
 *
 */
.input-field button{
  margin : 0 2px;
  font-size : 10px;
}


/*----------------------------------------
    Toast
------------------------------------------*/
#toast-container{
  z-index : 1099;
}

  .toast .btn{
      text-transform : none;
      margin : 0 5px;
      height : 25px;
      line-height : 25px;
      font-size: 13px;
  }


@media only screen and (min-width: 993px){
  #toast-container{
    top: 10%;
    right: 40%;
    max-width: 86%;
  }
}

@media only screen and (max-width: 992px) and (min-width: 601px){
  #toast-container{
      left: 30%;
      right: 40%;
      max-width: 100%;
      min-width: 70%;
  }
}

.tabs .tab a, .tabs .tab a:hover{
  /* color : #00bcd4;     */
  line-height: 4.7;
}
/* .tabs .tab a.active{
  color : #00bcd4 !important;  
  background: #FFF;
}
.tabs .tab a.active:hover{
 background : #FFF;
} */
.tabs .tab{
      text-transform: none;
}
.tabs .indicator {
  background-color: #00bcd4 !important;
}
#modal-detail .tabs .indicator {
  background-color: #FFF !important;
}


.gm-style .btn-flat i{
  color : #000;
}
.gm-style .btn-flat:hover,.gm-style .btn-flat:visited,.gm-style .btn-flat:focus{
  background-color : #FFF;
}

.btn-small{
    height: 27px;
    width: 27px;
}

.btn-small i{
    line-height: 27px;
    font-size: 22px;
}

.btn-table{
  color : #FFF;
}
.modal-view{
  background-color : transparent;
  overflow-y: auto;
  max-height: 90%;
  bottom: 4%;
  top: 4% !important;
}
.modal-view h5{
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 10px 0;

}
.modal-view h6{
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 5px 0;
    color : #FFF;  
    background-color : #00bcd4 !important;
}
.modal-view .carousel{
  height: 200px;
  margin: 10px 0; 
  background-color: #333; 
}
.modal-view .carousel .carousel-item img{
  max-height: 80%;
}

.modal-header{
  text-align: center;
  color : #FFF;
  padding : 1px 0px;
  background-color: #00bcd4;
}
.modal-header .modal-close{
  top: 4px;  
}





textarea.mtextarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
}


 .swiper-container {
        width: 100%;
        height: 300px;
        margin-bottom: 5px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #000;
        
    }
    .swiper-slide img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
    }
    #modal-detail{
      overflow-y : hidden;
    }
    .detail-tempat{
      overflow-y : auto;
      position: absolute;
      height: calc(100% - 100px);
      width: 100%;
    }
    #modal-detail .modal-content p{
          margin: 0 auto;
    }
    #modal-detail .collection .collection-item.avatar {
      min-height: 0;
    }

.collection .collection-item.active {
    background-color: #FFF;
    color: #000;
}
.collapsible {
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 0;
}