#profile-card .card-image {
    height: 150px;
}

#profile-card .card-profile-image {
    width: 70px;
    position: absolute;
    top: 110px;
    z-index: 1;
    cursor: pointer;
}

#profile-card .btn-move-up {
    position: relative;
    top: -40px;
    right: -18px;
    margin-right: 10px !important;
}

.card-content p {
    font-size: 1.0rem;
}
.carousel{
    height:250px;
    background: #136a8a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #136a8a , #267871);
    background: linear-gradient(to top, #136a8a , #267871);
        
}
.carousel .carousel-item{
   /*  height: 100%;
    width : ; */
        height: 90%;
    margin-top: 10%;
}
.carousel .carousel-item img{
    /* height: 100%; */    height: 75%;
}
#tiket li p{
    margin : 0;
}
#tiket li.avatar{
    min-height: 55px;
}

#review li .secondary-content{
    top: 10px;
    right: 5px;
}
#review li p .badge{
        right: -7px;
}

@media only screen and (min-width: 993px){
    .container {
        width: 85%;
    }
}

#review-loader .preloader-wrapper.big.active{
    margin: 100px auto;
}