.loader-panel {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		z-index: 1002;
		display: none;
		background: #FFF;
}
.loader-panel.show{
    display:block;
}
.modal-loader .preloader-wrapper{
	margin: 0 auto;
}
.modal-form-content{
	overflow :auto;
}


.image-item{
	margin : 0 30px;
	margin-bottom : 30px;
}
.image-item img{
	width: 200px;
    height: 100px;
}
.image-item button{	
    margin-left: 180px;
}

.empty-message {
  padding: 5px 10px;
 text-align: center;
}

.twitter-typeahead{
	width : 100% ;
}
.tt-menu{

},
.twitter-typeahead .collection{
	width: 100% !important;	
	top: 65% !important;
	max-height: 250px;
	overflow-y: auto;
}
.dropdown-content{
	max-height: 300px;
}

@media only screen and (max-width: 600px){
.modal-form{
    width:100%;    
    max-height: calc(100% - 56px);
    height: 100% !important;
    top: 0 !important;
    bottom: 0;
  }
}



@media only screen and (min-width: 993px){
  .modal-form{
    width:70%;    
    max-height:80%;
    height: 100% !important;
    top: 0 !important;
    bottom: 0;
  }
	.container {
    margin: 0 auto;
    margin-right: 2%;
    width: 90%;
	}
}

@media only screen and (max-width: 992px) and (min-width: 601px){
  .modal-form{
    width:90%;    
    max-height:calc(100% - 56px);
    height: 100% !important;
    top: 0 !important;
    bottom: 0;
  }
}

