
#map-canvas {
	width : 100%;
	height : 300px;

}

@media only screen and (min-width: 0){
	.container {
		width: 100%;
		max-width : 90%;

		margin : 5px auto;
	}
}
@media only screen and (min-width: 992px) {
	.container{
		padding-left : 0;
		max-width : 90%;
		margin-left: 95px;
	}
}

