@media only screen and (min-width: 993px){

	.container {
			width: 90%;
			margin: 0 auto;
			margin-right : 2%;
			
	}	
}
.loader-panel.show{
    display:block;
}
.modal-loader .preloader-wrapper{
	margin: 0 auto;
}
 label {
    width: 100%;
}
/* .input-field label {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
} */
.modal{
  top:initial !important;
  max-height: 80%;
}